@model Riksdan.Models.RiksdanModel.JsonData;

@{
    var RiksdagsList = Model.JsonObject.Persons;
    var PartyList = RiksdagsList.Select(x => x.Party).Distinct().ToList();
    string FullPartyName = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="google" content="notranslate" />
    <title>Riksdagspolitiker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Forum&display=swap" rel="stylesheet">
</head>
<body>
    <h1>SVERIGES RIKSDAG</h1>
    @foreach (string party in PartyList)
    {
        var PartyPersonList = RiksdagsList.Where(x => x.Party == party);
        <div id="@party" class="party-div">
            @switch (party)
            {
                case "C":
                    FullPartyName = "Centerpartiet";
                    break;
                case "KD":
                    FullPartyName = "Kristdemokraterna";
                    break;
                case "L":
                    FullPartyName = "Liberalerna";
                    break;
                case "MP":
                    FullPartyName = "Miljöpartiet de gröna";
                    break;
                case "M":
                    FullPartyName = "Moderata samlingspartiet";
                    break;
                case "S":
                    FullPartyName = "Socialdemokraterna";
                    break;
                case "SD":
                    FullPartyName = "Sverigedemokraterna";
                    break;
                case "V":
                    FullPartyName = "Vänsterpartiet";
                    break;
                case "-":
                    FullPartyName = "Partilös";
                    break;
                default:
                    FullPartyName = "Övriga";
                    break;
            }
            <div class="flexbox-row party-header">
                <img src="@string.Format("/images/" + party + ".png")" alt="Partilogo" />
                <h2>@FullPartyName</h2>
            </div>
            <div class="flexbox-row party-people">
                @foreach (var person in PartyPersonList)
                {
                    <div class="flexbox-column person-item">
                        <img src="@person.ImageUrlSmall" alt="Porträttfoto" />
                        @person.FirstName
                        @person.LastName
                    </div>
                }
            </div>
        </div>
    }

    <div class="fixed-buttons flexbox-column" id="Buttons">
        @foreach (string party in PartyList)
        {
            <div class="flexbox-row">
                @if (party == "-")
                {
                    <a class="arrow-right" href="@string.Format("#" + party)">
                    </a>
                    <button type="button" id="PLButton" onclick="toggleParty(this, '@party')">
                        PL
                    </button>
                }
                else
                {
                    <a class="arrow-right" href="@string.Format("#" + party)">
                    </a>
                    <button type="button" id="@string.Format(party + "Button")" onclick="toggleParty(this, '@party')">
                        @party
                    </button>
                }
            </div>
        }
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
